In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['figure.figsize'] = [15,10]

In [2]:
movie_data = pd.read_csv('files/BollywoodMovieDetail.csv')
genre_divide = movie_data['genre']
genre_divide.unique()
genre_divide = movie_data[movie_data['genre'].isna()==False]
genres = movie_data['genre']
G = []
for i in range(len(genres)):
    a = str(genres[i]).split('|')
    a = [z.strip() for z in a]
    G.append(a)
genres = pd.DataFrame(G,columns = ['Genre 1','Genre 2','Genre 3'])
#genres = genres.dropna()
big_genre_divide = pd.concat([genre_divide,genres],axis=1)

In [3]:
genre1 = genres['Genre 1']
genre2 = genres['Genre 2']
genre3 = genres['Genre 3']
genre1 = [i for i in genre1]
genre2 = [i for i in genre2]
genre3 = [i for i in genre3]
Genre = genre1+genre2+genre3
Genre2 = pd.DataFrame(Genre,columns=['genre'])
Genre3 = pd.DataFrame(Genre2['genre'].value_counts())

In [4]:
genre_year_divide = big_genre_divide
genre_year_divide1 = genre_year_divide[['releaseYear','Genre 1','Genre 2','Genre 3']]
#genre_year_divide1.dropna()
genre_year_divide1
genre_year_divide2 = pd.melt(genre_year_divide1, id_vars=['releaseYear'], var_name='Genre_Name', value_name='Genre_Value')
genre_year_divide2.drop('Genre_Name',axis=1,inplace=True)
genre_year_divide2 = genre_year_divide2.dropna()

In [5]:
genre_year_divide3 = genre_year_divide2.groupby('releaseYear')
genre_year_divide4 = pd.DataFrame(columns=genre_year_divide2.columns)
for i,j in genre_year_divide3:
    genre_year_divide4 = pd.concat([genre_year_divide4,j],ignore_index=True)
genre_year_divide4.head()
genre_year_divide4['Genre_Value'].value_counts()
genre_year_divide8 = genre_year_divide4.groupby(['Genre_Value','releaseYear'])
y = pd.DataFrame()
l = []
for a,b in genre_year_divide8:
    l.append({'Genre':a[0],'Year':a[1],'Count':b['Genre_Value'].count()})
y = pd.DataFrame(l)
y = y.set_index('Genre')

# Giving genres to actors

In [6]:
movie_data = pd.read_csv('files/BollywoodMovieDetail.csv')
actor = movie_data['actors']
actor.dropna()
actor = actor.reset_index(drop=True)
x = []
for i in range(len(actor)):
    a = str(actor[i]).split('|')
    a = [z.strip() for z in a]
    x.append(a)
actor_divide = pd.DataFrame(x,columns=['Actor 1','Actor 2','Actor 3','Actor 4'])
actor_divide.head()

          Actor 1                 Actor 2         Actor 3            Actor 4
0         Govinda  Aishwarya Rai Bachchan   Jackie Shroff  Namrata Shirodkar
1      Aamir Khan             Gracy Singh  Rachel Shelley   Paul Blackthorne
2    Akshay Kumar                 Sridevi  Gulshan Grover    Laxmikant Berde
3  Shah Rukh Khan           Madhuri Dixit     Salman Khan     Atul Agnihotri
4  Shah Rukh Khan             Juhi Chawla   Jackie Shroff      Nirmal Pandey

In [7]:
actor_genre_divide = actor_divide
temp_genre = genre_year_divide1.loc[:,'Genre 1':'Genre 3']
actor_genre_divide = pd.concat([actor_divide,temp_genre],axis=1)
actor_genre_divide = actor_genre_divide.loc[:,'Actor 1':'Genre 3']
actor_genre_divide.head(20)

,Actor 1,Actor 2,Actor 3,Actor 4,Genre 1,Genre 2,Genre 3
0,Govinda,Aishwarya Rai Bachchan,Jackie Shroff,Namrata Shirodkar,Romance,None,None
1,Aamir Khan,Gracy Singh,Rachel Shelley,Paul Blackthorne,Adventure,Drama,Musical
2,Akshay Kumar,Sridevi,Gulshan Grover,Laxmikant Berde,Action,Comedy,None
3,Shah Rukh Khan,Madhuri Dixit,Salman Khan,Atul Agnihotri,Drama,Romance,None
4,Shah Rukh Khan,Juhi Chawla,Jackie Shroff,Nirmal Pandey,Action,Comedy,Drama
5,Shah Rukh Khan,Madhuri Dixit,Aishwarya Rai Bachchan,Jackie Shroff,Musical,Romance,None
6,Hrithik Roshan,Ameesha Patel,Kiran Kumar,Mukesh Tiwari,Action,Drama,Romance
7,Amitabh Bachchan,Jaya Bhaduri,Shah Rukh Khan,Kajol,Drama,Musical,Romance
8,Saif Ali Khan,Hrithik Roshan,Esha Deol,Alok Nath,Comedy,Drama,Musical
9,Jackie Shroff,Hrithik Roshan,Kareena Kapoor,Amrish Puri,Musical,Drama,Romance
10,Karisma Kapoor,Rekha,Manoj Bajpayee,Rajit Kapoor,Adventure,Biography,Drama
11,Preity Zinta,Salman Khan,Rani Mukerji,Amrish Puri,Drama,Musical,Romance
12,Hrithik Roshan,Kareena Kapoor,Abhishek Bachchan,Johnny Lever,Musical,Drama,Romance
13,Sunil Shetty,Raveena Tandon,Danny Denzongpa,Sadashiv Amrapurkar,Action,Crime,Drama
14,Tabu,Atul Kulkarni,Rajpal Yadav,Shri Vallabh Vyas,Crime,Drama,None
15,Kajol,Rishi Kapoor,Rati Agnihotri,Sunil Shetty,Drama,Family,None
16,Dev Anand,Hema Malini,Shammi Kapoor,Rekha,Musical,Romance,None
17,Sunny Deol,Preity Zinta,Jackie Shroff,Om Puri,Action,None,None
18,Rekha,Naseeruddin Shah,Arshad Warsi,Suman Ranganathan,Comedy,Musical,Family
19,Rani Mukerji,Hrithik Roshan,Kareena Kapoor,Uday Chopra,Musical,Romance,Drama

In [8]:
genre_input = 'comedy'
a1 = actor_genre_divide[actor_genre_divide['Genre 1'] == genre_input.capitalize()]
a2 = actor_genre_divide[actor_genre_divide['Genre 2'] == genre_input.capitalize()]
a3 = actor_genre_divide[actor_genre_divide['Genre 3'] == genre_input.capitalize()]
taking_all = a1.append(a2, ignore_index=True).append(a3, ignore_index=True)

In [9]:
test = np.array(taking_all[['Actor 1', 'Actor 2', 'Actor 3', 'Actor 4']])
test[0]

array(['Saif Ali Khan', 'Hrithik Roshan', 'Esha Deol', 'Alok Nath'],
      dtype=object)

In [10]:
te = TransactionEncoder()
te = te.fit(test)
te_ary = te.transform(test)

NameError: name 'TransactionEncoder' is not defined

In [11]:
df=pd.melt(actor_genre_divide,id_vars=["Genre 1","Genre 2","Genre 3"],var_name="Actor",value_name="Value")

In [12]:
df.columns=['Genre 1', 'Genre 2', 'Genre 3', 'Actor', 'Actor_name']
df=df.drop(["Actor"],axis=1)
df.columns
df.columns=['Genre 1', 'Genre 2', 'Genre 3', 'Actor']
df2=pd.melt(df,id_vars=["Actor"],var_name="Genre",value_name="Genre_Name")
df2=df2.drop(["Genre"],axis=1)
df2.columns=["Actor","Genre"]
Data_actor_genre=df2
Data_actor_genre

                 Actor      Genre
0              Govinda    Romance
1           Aamir Khan  Adventure
2         Akshay Kumar     Action
3       Shah Rukh Khan      Drama
4       Shah Rukh Khan     Action
...                ...        ...
15403           Bramha       None
15404             None       None
15405    Sanjay Mishra       None
15406   Dimple Kapadia       None
15407  Karanvir Sharma       None

[15408 rows x 2 columns]

In [13]:
actor_genre_divide_final = df2
actor_genre_divide_final =  actor_genre_divide_final.dropna()

In [14]:
actor_genre_divide_final.to_csv('files/ActorsWithGenre.csv')

In [18]:
t = actor_genre_divide_final.groupby(['Genre'])
t.get_group('Romance')
u = list(pd.unique(actor_genre_divide_final['Genre']))
xyz = []
for each in u:
    xyz.append(Counter(list(t.get_group(each)['Actor'])).most_common(10))

In [19]:
d1 = {'Genre' : u, 'Top 10 Actors':xyz}
df100 = pd.DataFrame(data = d1)
df100 = df100.drop([21])
df100

          Genre                                      Top 10 Actors
0       Romance  [(Salman Khan, 21), (Shahid Kapoor, 16), (Aksh...
1     Adventure  [(Sanjay Dutt, 6), (Abhishek Bachchan, 6), (Vi...
2        Action  [(Sunil Shetty, 26), (Ajay Devgn, 26), (Sanjay...
3         Drama  [(Amitabh Bachchan, 34), (Ajay Devgn, 31), (Ak...
4       Musical  [(Salman Khan, 7), (Abhishek Bachchan, 7), (Bi...
5        Comedy  [(Akshay Kumar, 31), (Paresh Rawal, 22), (Arsh...
6         Crime  [(Akshay Kumar, 16), (Ajay Devgn, 12), (Bipash...
7      Thriller  [(Emraan Hashmi, 13), (Sunil Shetty, 10), (San...
8   Documentary  [(Neeru Bajwa, 1), (Sonali Gulati, 1), (Ruby B...
9     Biography  [(Aishwarya Rai Bachchan, 2), (Shailendra Gaur...
10      Mystery  [(Gulshan Grover, 5), (Akshay Kumar, 4), (Amit...
11          War  [(Sanjay Dutt, 3), (Ajay Devgn, 3), (Amitabh B...
12       Family  [(Amitabh Bachchan, 3), (Saif Ali Khan, 3), (A...
13       Horror  [(Bipasha Basu, 4), (Vicky Ahuja, 3), (Emraan ...
14      Fantasy  [(Boman Irani, 4), (Amitabh Bachchan, 3), (Aks...
15        Music  [(Akshay Kumar, 1), (Ranbir Kapoor, 1), (Prabh...
16    Animation  [(nan, 2), (Ajay Devgn, 2), (Manoj Bajpayee, 2...
17        Sport  [(Boman Irani, 2), (Dalip Tahil, 2), (Nafisa A...
18      History  [(Pavan Malhotra, 2), (John Abraham, 2), (Habi...
19       Sci-Fi  [(Omkar Das Manikpuri, 2), (Bipasha Basu, 2), ...
20        Short            [(Parimal Aloke, 1), (Paru Gambhir, 1)]
22      Western  [(Prabhudheva, 1), (Ganesh Acharya, 1), (Kay K...

In [20]:
a = actor_genre_divide_final.groupby(['Actor'])
b = list(pd.unique(actor_genre_divide_final['Actor']))

In [17]:
from collections import Counter

In [172]:
 = a.get_group('Shah Rukh Khan')
v = list(b['Genre'])
c = Counter(v).most_common(3)
most_genre = [each[0] for each in c]
c

                Actor      Genre
3      Shah Rukh Khan      Drama
4      Shah Rukh Khan     Action
5      Shah Rukh Khan    Musical
140    Shah Rukh Khan      Drama
143    Shah Rukh Khan     Comedy
146    Shah Rukh Khan     Action
188    Shah Rukh Khan      Drama
222    Shah Rukh Khan      Drama
289    Shah Rukh Khan      Drama
355    Shah Rukh Khan      Drama
362    Shah Rukh Khan    Fantasy
390    Shah Rukh Khan     Action
554    Shah Rukh Khan     Action
617    Shah Rukh Khan     Comedy
627    Shah Rukh Khan      Drama
692    Shah Rukh Khan     Action
1020   Shah Rukh Khan      Drama
1136   Shah Rukh Khan     Action
1943   Shah Rukh Khan     Comedy
2072   Shah Rukh Khan     Action
2288   Shah Rukh Khan     Action
2575   Shah Rukh Khan      Drama
4467   Shah Rukh Khan     Comedy
5139   Shah Rukh Khan    Romance
5140   Shah Rukh Khan     Comedy
5141   Shah Rukh Khan    Romance
5276   Shah Rukh Khan    Romance
5279   Shah Rukh Khan      Drama
5282   Shah Rukh Khan     Comedy
5425   Shah Rukh Khan    Musical
5498   Shah Rukh Khan    Romance
5526   Shah Rukh Khan      Crime
5690   Shah Rukh Khan     Comedy
5753   Shah Rukh Khan      Drama
5763   Shah Rukh Khan    Romance
5828   Shah Rukh Khan      Crime
6156   Shah Rukh Khan    Romance
6272   Shah Rukh Khan     Comedy
7079   Shah Rukh Khan      Drama
7208   Shah Rukh Khan  Adventure
7424   Shah Rukh Khan     Comedy
7711   Shah Rukh Khan    Musical
9603   Shah Rukh Khan      Drama
10276  Shah Rukh Khan      Drama
10415  Shah Rukh Khan    Romance
10418  Shah Rukh Khan    Romance
10561  Shah Rukh Khan    Romance
10662  Shah Rukh Khan   Thriller
10826  Shah Rukh Khan      Drama
10889  Shah Rukh Khan    Musical
10899  Shah Rukh Khan   Thriller
10964  Shah Rukh Khan      Drama
11408  Shah Rukh Khan      Crime
12344  Shah Rukh Khan     Sci-Fi
12560  Shah Rukh Khan    Romance
12847  Shah Rukh Khan    Romance

In [21]:
aba = []
for each in b:
    aba.append(Counter(list(a.get_group(each)['Genre'])).most_common(3))

In [22]:
data = {'Actor':b,'Top Genres':aba}
fin = pd.DataFrame(data=data)
fin.head()

            Actor                                 Top Genres
0         Govinda   [(Comedy, 13), (Romance, 6), (Drama, 5)]
1      Aamir Khan    [(Drama, 11), (Comedy, 3), (Action, 2)]
2    Akshay Kumar  [(Comedy, 31), (Drama, 24), (Action, 19)]
3  Shah Rukh Khan  [(Drama, 16), (Romance, 11), (Comedy, 9)]
4  Hrithik Roshan   [(Drama, 11), (Action, 9), (Romance, 8)]

In [23]:
fin.to_csv('files/TopGenres.csv')

In [24]:
from mlxtend.preprocessing import TransactionEncoder  #TransactionEncoder is used for conversion into numerical values
from mlxtend.frequent_patterns import apriori

In [25]:
te = TransactionEncoder()
te = te.fit(x)
te_ary = te.transform(x)

In [26]:
df = pd.DataFrame(te_ary,columns=te.columns_)

In [63]:
frequent_itemsets = apriori(df, min_support =0.00065,use_colnames=True)

MemoryError: Unable to allocate 15.4 GiB for an array with shape (4293478, 3, 1284) and data type bool

In [53]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets,metric='confidence',min_threshold=0.4)

In [54]:
input_genre = 'Family'
abascus = list(df100[df100['Genre'] == input_genre]['Top 10 Actors'])
top_actor = (abascus[0][0][0])
#rules[rules['antecedants'].apply(lambda x:set([top_actor]).issubset(x))]

In [55]:
another = big_genre_divide.drop(columns = ['imdbId', 'title', 'releaseYear', 'releaseDate','writers','directors','sequel','hitFlop'])
another = another.drop(columns = ['genre'])

In [56]:
another.head()

,actors,Genre 1,Genre 2,Genre 3
0,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Romance,None,None
1,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Adventure,Drama,Musical
2,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Action,Comedy,None
3,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,Drama,Romance,None
4,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Action,Comedy,Drama

In [45]:
another.to_csv('files/castgenre.csv')

In [57]:
genre_input = 'romance'
a1 = another[another['Genre 1'] == genre_input.capitalize()]
a2 = another[another['Genre 2'] == genre_input.capitalize()]
a3 = another[another['Genre 3'] == genre_input.capitalize()]
c = a1.append(a2, ignore_index=True).append(a3, ignore_index=True)

In [58]:
genre_actors = c['actors']
actor = movie_data['actors']
actor.dropna()
actor = actor.reset_index(drop=True)
x = []
for i in range(len(actor)):
    a = str(actor[i]).split('|')
    a = [z.strip() for z in a]
    x.append(a)

In [59]:
te = TransactionEncoder()
te = te.fit(x)
te_ary = te.transform(x)

In [60]:
df = pd.DataFrame(te_ary,columns=te.columns_)

In [61]:
frequent_itemsets = apriori(df, min_support =0.0015,use_colnames=True)
#frequent_itemsets

In [62]:
%time rules = association_rules(frequent_itemsets,metric='confidence',min_threshold=0.01)
rules

CPU times: user 13.6 ms, sys: 490 Âµs, total: 14 ms
Wall time: 13 ms

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Aamir Khan),(Kareena Kapoor),0.009346,0.028816,0.001558,0.166667,5.783784,0.001288,1.165421
1,(Kareena Kapoor),(Aamir Khan),0.028816,0.009346,0.001558,0.054054,5.783784,0.001288,1.047263
2,(Rani Mukerji),(Aamir Khan),0.021807,0.009346,0.001558,0.071429,7.642857,0.001354,1.066858
3,(Aamir Khan),(Rani Mukerji),0.009346,0.021807,0.001558,0.166667,7.642857,0.001354,1.173832
4,(Aamir Khan),(Sharman Joshi),0.009346,0.011682,0.001558,0.166667,14.266667,0.001448,1.185981
...,...,...,...,...,...,...,...,...,...
1009,"(Salman Khan, Sonakshi Sinha)",(Vinod Khanna),0.001558,0.007009,0.001558,1.000000,142.666667,0.001547,inf
1010,"(Vinod Khanna, Sonakshi Sinha)",(Salman Khan),0.001558,0.028037,0.001558,1.000000,35.666667,0.001514,inf
1011,(Salman Khan),"(Vinod Khanna, Sonakshi Sinha)",0.028037,0.001558,0.001558,0.055556,35.666667,0.001514,1.057174
1012,(Vinod Khanna),"(Salman Khan, Sonakshi Sinha)",0.007009,0.001558,0.001558,0.222222,142.666667,0.001547,1.283712
1013,(Sonakshi Sinha),"(Salman Khan, Vinod Khanna)",0.007009,0.002336,0.001558,0.222222,95.111111,0.001541,1.282710