In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['figure.figsize'] = [15,10]

In [4]:
movie_data = pd.read_csv('files/BollywoodMovieDetail.csv')
genre_divide = movie_data['genre']
genre_divide.unique()
genre_divide = movie_data[movie_data['genre'].isna()==False]
genres = movie_data['genre']
G = []
for i in range(len(genres)):
    a = str(genres[i]).split('|')
    a = [z.strip() for z in a]
    G.append(a)
genres = pd.DataFrame(G,columns = ['Genre 1','Genre 2','Genre 3'])
#genres = genres.dropna()
big_genre_divide = pd.concat([genre_divide,genres],axis=1)

In [8]:
genre1 = genres['Genre 1']
genre2 = genres['Genre 2']
genre3 = genres['Genre 3']
genre1 = [i for i in genre1]
genre2 = [i for i in genre2]
genre3 = [i for i in genre3]
Genre = genre1+genre2+genre3
Genre2 = pd.DataFrame(Genre,columns=['genre'])
Genre3 = pd.DataFrame(Genre2['genre'].value_counts())

In [9]:
genre_year_divide = big_genre_divide
genre_year_divide1 = genre_year_divide[['releaseYear','Genre 1','Genre 2','Genre 3']]
#genre_year_divide1.dropna()
genre_year_divide1
genre_year_divide2 = pd.melt(genre_year_divide1, id_vars=['releaseYear'], var_name='Genre_Name', value_name='Genre_Value')
genre_year_divide2.drop('Genre_Name',axis=1,inplace=True)
genre_year_divide2 = genre_year_divide2.dropna()

      releaseYear Genre_Value
0          2001.0     Romance
1          2001.0   Adventure
2          2004.0      Action
3          2002.0       Drama
4          2001.0      Action
5          2002.0     Musical
6          2002.0      Action
7          2001.0       Drama
8          2002.0      Comedy
9          2001.0     Musical
10         2001.0   Adventure
11         2001.0       Drama
12         2003.0     Musical
13         2001.0      Action
14         2001.0       Crime
15         2001.0       Drama
16         2001.0     Musical
17         2001.0      Action
18         2001.0      Comedy
19         2002.0     Musical
20         2001.0       Drama
21         2001.0      Action
22         2001.0       Drama
23         2002.0     Romance
24         2001.0       Drama
25         2001.0       Drama
26         2001.0       Crime
27         2001.0      Comedy
28         2001.0       Crime
29         2002.0      Comedy
...           ...         ...
3742       2013.0    Thriller
3743       2013.0     History
3745       2013.0       Drama
3748       2014.0      Comedy
3752       2013.0       Drama
3754       2014.0     Romance
3755       2013.0    Thriller
3759       2013.0     Romance
3761       2014.0       Sport
3767       2014.0     Romance
3768       2013.0    Thriller
3774       2014.0     Romance
3784       2014.0       Crime
3789       2014.0       Drama
3791       2014.0     Romance
3792       2013.0       Drama
3793       2014.0    Thriller
3794       2014.0    Thriller
3795       2014.0         War
3796       2014.0       Drama
3798       2014.0     Romance
3799       2014.0     Romance
3801       2014.0     Romance
3805       2014.0     Romance
3807       2014.0    Thriller
3810       2014.0       Sport
3815       2014.0     Fantasy
3820       2014.0     Romance
3823       2014.0    Thriller
3829       2014.0     Romance

[2824 rows x 2 columns]

In [10]:
genre_year_divide3 = genre_year_divide2.groupby('releaseYear')
genre_year_divide4 = pd.DataFrame(columns=genre_year_divide2.columns)
for i,j in genre_year_divide3:
    genre_year_divide4 = pd.concat([genre_year_divide4,j],ignore_index=True)
genre_year_divide4.head()
genre_year_divide4['Genre_Value'].value_counts()
genre_year_divide8 = genre_year_divide4.groupby(['Genre_Value','releaseYear'])
y = pd.DataFrame()
l = []
for a,b in genre_year_divide8:
    l.append({'Genre':a[0],'Year':a[1],'Count':b['Genre_Value'].count()})
y = pd.DataFrame(l)
y = y.set_index('Genre')

[{'Genre': 'Action', 'Year': 2001.0, 'Count': 16},
 {'Genre': 'Action', 'Year': 2002.0, 'Count': 31},
 {'Genre': 'Action', 'Year': 2003.0, 'Count': 21},
 {'Genre': 'Action', 'Year': 2004.0, 'Count': 26},
 {'Genre': 'Action', 'Year': 2005.0, 'Count': 13},
 {'Genre': 'Action', 'Year': 2006.0, 'Count': 13},
 {'Genre': 'Action', 'Year': 2007.0, 'Count': 13},
 {'Genre': 'Action', 'Year': 2008.0, 'Count': 21},
 {'Genre': 'Action', 'Year': 2009.0, 'Count': 22},
 {'Genre': 'Action', 'Year': 2010.0, 'Count': 32},
 {'Genre': 'Action', 'Year': 2011.0, 'Count': 29},
 {'Genre': 'Action', 'Year': 2012.0, 'Count': 18},
 {'Genre': 'Action', 'Year': 2013.0, 'Count': 25},
 {'Genre': 'Action', 'Year': 2014.0, 'Count': 20},
 {'Genre': 'Adventure', 'Year': 2001.0, 'Count': 3},
 {'Genre': 'Adventure', 'Year': 2002.0, 'Count': 1},
 {'Genre': 'Adventure', 'Year': 2003.0, 'Count': 5},
 {'Genre': 'Adventure', 'Year': 2004.0, 'Count': 6},
 {'Genre': 'Adventure', 'Year': 2005.0, 'Count': 3},
 {'Genre': 'Adventure', 'Year': 2006.0, 'Count': 3},
 {'Genre': 'Adventure', 'Year': 2007.0, 'Count': 4},
 {'Genre': 'Adventure', 'Year': 2008.0, 'Count': 5},
 {'Genre': 'Adventure', 'Year': 2009.0, 'Count': 5},
 {'Genre': 'Adventure', 'Year': 2010.0, 'Count': 6},
 {'Genre': 'Adventure', 'Year': 2011.0, 'Count': 5},
 {'Genre': 'Adventure', 'Year': 2012.0, 'Count': 6},
 {'Genre': 'Adventure', 'Year': 2013.0, 'Count': 6},
 {'Genre': 'Adventure', 'Year': 2014.0, 'Count': 2},
 {'Genre': 'Animation', 'Year': 2005.0, 'Count': 1},
 {'Genre': 'Animation', 'Year': 2007.0, 'Count': 2},
 {'Genre': 'Animation', 'Year': 2008.0, 'Count': 4},
 {'Genre': 'Animation', 'Year': 2009.0, 'Count': 1},
 {'Genre': 'Animation', 'Year': 2010.0, 'Count': 7},
 {'Genre': 'Animation', 'Year': 2012.0, 'Count': 5},
 {'Genre': 'Animation', 'Year': 2013.0, 'Count': 2},
 {'Genre': 'Biography', 'Year': 2001.0, 'Count': 2},
 {'Genre': 'Biography', 'Year': 2002.0, 'Count': 2},
 {'Genre': 'Biography', 'Year': 2005.0, 'Count': 1},
 {'Genre': 'Biography', 'Year': 2006.0, 'Count': 1},
 {'Genre': 'Biography', 'Year': 2007.0, 'Count': 2},
 {'Genre': 'Biography', 'Year': 2008.0, 'Count': 1},
 {'Genre': 'Biography', 'Year': 2011.0, 'Count': 2},
 {'Genre': 'Biography', 'Year': 2013.0, 'Count': 1},
 {'Genre': 'Biography', 'Year': 2014.0, 'Count': 1},
 {'Genre': 'Comedy', 'Year': 2001.0, 'Count': 9},
 {'Genre': 'Comedy', 'Year': 2002.0, 'Count': 16},
 {'Genre': 'Comedy', 'Year': 2003.0, 'Count': 23},
 {'Genre': 'Comedy', 'Year': 2004.0, 'Count': 20},
 {'Genre': 'Comedy', 'Year': 2005.0, 'Count': 32},
 {'Genre': 'Comedy', 'Year': 2006.0, 'Count': 21},
 {'Genre': 'Comedy', 'Year': 2007.0, 'Count': 30},
 {'Genre': 'Comedy', 'Year': 2008.0, 'Count': 46},
 {'Genre': 'Comedy', 'Year': 2009.0, 'Count': 43},
 {'Genre': 'Comedy', 'Year': 2010.0, 'Count': 48},
 {'Genre': 'Comedy', 'Year': 2011.0, 'Count': 49},
 {'Genre': 'Comedy', 'Year': 2012.0, 'Count': 34},
 {'Genre': 'Comedy', 'Year': 2013.0, 'Count': 33},
 {'Genre': 'Comedy', 'Year': 2014.0, 'Count': 43},
 {'Genre': 'Crime', 'Year': 2001.0, 'Count': 14},
 {'Genre': 'Crime', 'Year': 2002.0, 'Count': 14},
 {'Genre': 'Crime', 'Year': 2003.0, 'Count': 16},
 {'Genre': 'Crime', 'Year': 2004.0, 'Count': 11},
 {'Genre': 'Crime', 'Year': 2005.0, 'Count': 12},
 {'Genre': 'Crime', 'Year': 2006.0, 'Count': 9},
 {'Genre': 'Crime', 'Year': 2007.0, 'Count': 13},
 {'Genre': 'Crime', 'Year': 2008.0, 'Count': 26},
 {'Genre': 'Crime', 'Year': 2009.0, 'Count': 31},
 {'Genre': 'Crime', 'Year': 2010.0, 'Count': 29},
 {'Genre': 'Crime', 'Year': 2011.0, 'Count': 36},
 {'Genre': 'Crime', 'Year': 2012.0, 'Count': 10},
 {'Genre': 'Crime', 'Year': 2013.0, 'Count': 13},
 {'Genre': 'Crime', 'Year': 2014.0, 'Count': 8},
 {'Genre': 'Documentary', 'Year': 2003.0, 'Count': 1},
 {'Genre': 'Documentary', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'Drama', 'Year': 2001.0, 'Count': 37},
 {'Genre': 'Drama', 'Year': 2002.0, 'Count': 38},
 {'Genre': 'Drama', 'Year': 2003.0, 'Count': 47},
 {'Genre': 'Drama', 'Year': 2004.0, 'Count': 46},
 {'Genre': 'Drama', 'Year': 2005.0, 'Count': 53},
 {'Genre': 'Drama', 'Year': 2006.0, 'Count': 36},
 {'Genre': 'Drama', 'Year': 2007.0, 'Count': 44},
 {'Genre': 'Drama', 'Year': 2008.0, 'Count': 83},
 {'Genre': 'Drama', 'Year': 2009.0, 'Count': 72},
 {'Genre': 'Drama', 'Year': 2010.0, 'Count': 97},
 {'Genre': 'Drama', 'Year': 2011.0, 'Count': 93},
 {'Genre': 'Drama', 'Year': 2012.0, 'Count': 36},
 {'Genre': 'Drama', 'Year': 2013.0, 'Count': 56},
 {'Genre': 'Drama', 'Year': 2014.0, 'Count': 56},
 {'Genre': 'Family', 'Year': 2001.0, 'Count': 4},
 {'Genre': 'Family', 'Year': 2002.0, 'Count': 4},
 {'Genre': 'Family', 'Year': 2003.0, 'Count': 3},
 {'Genre': 'Family', 'Year': 2004.0, 'Count': 1},
 {'Genre': 'Family', 'Year': 2005.0, 'Count': 3},
 {'Genre': 'Family', 'Year': 2006.0, 'Count': 2},
 {'Genre': 'Family', 'Year': 2007.0, 'Count': 4},
 {'Genre': 'Family', 'Year': 2008.0, 'Count': 7},
 {'Genre': 'Family', 'Year': 2009.0, 'Count': 3},
 {'Genre': 'Family', 'Year': 2010.0, 'Count': 4},
 {'Genre': 'Family', 'Year': 2011.0, 'Count': 4},
 {'Genre': 'Family', 'Year': 2012.0, 'Count': 3},
 {'Genre': 'Family', 'Year': 2013.0, 'Count': 3},
 {'Genre': 'Family', 'Year': 2014.0, 'Count': 2},
 {'Genre': 'Fantasy', 'Year': 2001.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2002.0, 'Count': 4},
 {'Genre': 'Fantasy', 'Year': 2003.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2004.0, 'Count': 5},
 {'Genre': 'Fantasy', 'Year': 2005.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2008.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2009.0, 'Count': 2},
 {'Genre': 'Fantasy', 'Year': 2010.0, 'Count': 5},
 {'Genre': 'Fantasy', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2012.0, 'Count': 1},
 {'Genre': 'Fantasy', 'Year': 2014.0, 'Count': 2},
 {'Genre': 'History', 'Year': 2002.0, 'Count': 2},
 {'Genre': 'History', 'Year': 2003.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2005.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2007.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2009.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2010.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2012.0, 'Count': 1},
 {'Genre': 'History', 'Year': 2013.0, 'Count': 2},
 {'Genre': 'History', 'Year': 2014.0, 'Count': 3},
 {'Genre': 'Horror', 'Year': 2001.0, 'Count': 1},
 {'Genre': 'Horror', 'Year': 2002.0, 'Count': 2},
 {'Genre': 'Horror', 'Year': 2003.0, 'Count': 7},
 {'Genre': 'Horror', 'Year': 2004.0, 'Count': 5},
 {'Genre': 'Horror', 'Year': 2005.0, 'Count': 3},
 {'Genre': 'Horror', 'Year': 2007.0, 'Count': 2},
 {'Genre': 'Horror', 'Year': 2008.0, 'Count': 2},
 {'Genre': 'Horror', 'Year': 2009.0, 'Count': 3},
 {'Genre': 'Horror', 'Year': 2010.0, 'Count': 11},
 {'Genre': 'Horror', 'Year': 2011.0, 'Count': 3},
 {'Genre': 'Horror', 'Year': 2012.0, 'Count': 7},
 {'Genre': 'Horror', 'Year': 2013.0, 'Count': 5},
 {'Genre': 'Horror', 'Year': 2014.0, 'Count': 9},
 {'Genre': 'Music', 'Year': 2002.0, 'Count': 1},
 {'Genre': 'Music', 'Year': 2006.0, 'Count': 1},
 {'Genre': 'Music', 'Year': 2008.0, 'Count': 1},
 {'Genre': 'Music', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'Music', 'Year': 2013.0, 'Count': 2},
 {'Genre': 'Musical', 'Year': 2001.0, 'Count': 13},
 {'Genre': 'Musical', 'Year': 2002.0, 'Count': 16},
 {'Genre': 'Musical', 'Year': 2003.0, 'Count': 12},
 {'Genre': 'Musical', 'Year': 2004.0, 'Count': 12},
 {'Genre': 'Musical', 'Year': 2005.0, 'Count': 11},
 {'Genre': 'Musical', 'Year': 2006.0, 'Count': 6},
 {'Genre': 'Musical', 'Year': 2007.0, 'Count': 6},
 {'Genre': 'Musical', 'Year': 2008.0, 'Count': 4},
 {'Genre': 'Musical', 'Year': 2009.0, 'Count': 5},
 {'Genre': 'Musical', 'Year': 2010.0, 'Count': 1},
 {'Genre': 'Musical', 'Year': 2011.0, 'Count': 3},
 {'Genre': 'Musical', 'Year': 2012.0, 'Count': 4},
 {'Genre': 'Musical', 'Year': 2013.0, 'Count': 4},
 {'Genre': 'Musical', 'Year': 2014.0, 'Count': 3},
 {'Genre': 'Mystery', 'Year': 2001.0, 'Count': 3},
 {'Genre': 'Mystery', 'Year': 2002.0, 'Count': 4},
 {'Genre': 'Mystery', 'Year': 2003.0, 'Count': 5},
 {'Genre': 'Mystery', 'Year': 2004.0, 'Count': 4},
 {'Genre': 'Mystery', 'Year': 2005.0, 'Count': 7},
 {'Genre': 'Mystery', 'Year': 2006.0, 'Count': 3},
 {'Genre': 'Mystery', 'Year': 2007.0, 'Count': 4},
 {'Genre': 'Mystery', 'Year': 2008.0, 'Count': 10},
 {'Genre': 'Mystery', 'Year': 2009.0, 'Count': 11},
 {'Genre': 'Mystery', 'Year': 2010.0, 'Count': 8},
 {'Genre': 'Mystery', 'Year': 2011.0, 'Count': 10},
 {'Genre': 'Mystery', 'Year': 2012.0, 'Count': 5},
 {'Genre': 'Mystery', 'Year': 2013.0, 'Count': 2},
 {'Genre': 'Mystery', 'Year': 2014.0, 'Count': 2},
 {'Genre': 'Romance', 'Year': 2001.0, 'Count': 16},
 {'Genre': 'Romance', 'Year': 2002.0, 'Count': 24},
 {'Genre': 'Romance', 'Year': 2003.0, 'Count': 33},
 {'Genre': 'Romance', 'Year': 2004.0, 'Count': 26},
 {'Genre': 'Romance', 'Year': 2005.0, 'Count': 35},
 {'Genre': 'Romance', 'Year': 2006.0, 'Count': 29},
 {'Genre': 'Romance', 'Year': 2007.0, 'Count': 21},
 {'Genre': 'Romance', 'Year': 2008.0, 'Count': 31},
 {'Genre': 'Romance', 'Year': 2009.0, 'Count': 17},
 {'Genre': 'Romance', 'Year': 2010.0, 'Count': 24},
 {'Genre': 'Romance', 'Year': 2011.0, 'Count': 21},
 {'Genre': 'Romance', 'Year': 2012.0, 'Count': 29},
 {'Genre': 'Romance', 'Year': 2013.0, 'Count': 27},
 {'Genre': 'Romance', 'Year': 2014.0, 'Count': 39},
 {'Genre': 'Sci-Fi', 'Year': 2004.0, 'Count': 1},
 {'Genre': 'Sci-Fi', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'Sci-Fi', 'Year': 2012.0, 'Count': 2},
 {'Genre': 'Sci-Fi', 'Year': 2013.0, 'Count': 3},
 {'Genre': 'Sci-Fi', 'Year': 2014.0, 'Count': 3},
 {'Genre': 'Short', 'Year': 2013.0, 'Count': 1},
 {'Genre': 'Sport', 'Year': 2007.0, 'Count': 2},
 {'Genre': 'Sport', 'Year': 2009.0, 'Count': 3},
 {'Genre': 'Sport', 'Year': 2010.0, 'Count': 1},
 {'Genre': 'Sport', 'Year': 2011.0, 'Count': 3},
 {'Genre': 'Sport', 'Year': 2012.0, 'Count': 1},
 {'Genre': 'Sport', 'Year': 2013.0, 'Count': 1},
 {'Genre': 'Sport', 'Year': 2014.0, 'Count': 3},
 {'Genre': 'Thriller', 'Year': 2001.0, 'Count': 6},
 {'Genre': 'Thriller', 'Year': 2002.0, 'Count': 14},
 {'Genre': 'Thriller', 'Year': 2003.0, 'Count': 13},
 {'Genre': 'Thriller', 'Year': 2004.0, 'Count': 16},
 {'Genre': 'Thriller', 'Year': 2005.0, 'Count': 24},
 {'Genre': 'Thriller', 'Year': 2006.0, 'Count': 10},
 {'Genre': 'Thriller', 'Year': 2007.0, 'Count': 12},
 {'Genre': 'Thriller', 'Year': 2008.0, 'Count': 10},
 {'Genre': 'Thriller', 'Year': 2009.0, 'Count': 5},
 {'Genre': 'Thriller', 'Year': 2010.0, 'Count': 13},
 {'Genre': 'Thriller', 'Year': 2011.0, 'Count': 21},
 {'Genre': 'Thriller', 'Year': 2012.0, 'Count': 16},
 {'Genre': 'Thriller', 'Year': 2013.0, 'Count': 27},
 {'Genre': 'Thriller', 'Year': 2014.0, 'Count': 18},
 {'Genre': 'War', 'Year': 2003.0, 'Count': 2},
 {'Genre': 'War', 'Year': 2004.0, 'Count': 2},
 {'Genre': 'War', 'Year': 2005.0, 'Count': 2},
 {'Genre': 'War', 'Year': 2011.0, 'Count': 1},
 {'Genre': 'War', 'Year': 2012.0, 'Count': 3},
 {'Genre': 'War', 'Year': 2014.0, 'Count': 2},
 {'Genre': 'Western', 'Year': 2013.0, 'Count': 1}]

# Giving genres to actors

In [11]:
movie_data = pd.read_csv('files/BollywoodMovieDetail.csv')
actor = movie_data['actors']
actor.dropna()
actor = actor.reset_index(drop=True)
x = []
for i in range(len(actor)):
    a = str(actor[i]).split('|')
    a = [z.strip() for z in a]
    x.append(a)
actor_divide = pd.DataFrame(x,columns=['Actor 1','Actor 2','Actor 3','Actor 4'])
actor_divide.head()

          Actor 1                 Actor 2         Actor 3            Actor 4
0         Govinda  Aishwarya Rai Bachchan   Jackie Shroff  Namrata Shirodkar
1      Aamir Khan             Gracy Singh  Rachel Shelley   Paul Blackthorne
2    Akshay Kumar                 Sridevi  Gulshan Grover    Laxmikant Berde
3  Shah Rukh Khan           Madhuri Dixit     Salman Khan     Atul Agnihotri
4  Shah Rukh Khan             Juhi Chawla   Jackie Shroff      Nirmal Pandey

In [12]:
actor_genre_divide = actor_divide
temp_genre = genre_year_divide1.loc[:,'Genre 1':'Genre 3']
actor_genre_divide = pd.concat([actor_divide,temp_genre],axis=1)
actor_genre_divide = actor_genre_divide.loc[:,'Actor 1':'Genre 3']
actor_genre_divide.head(20)

,Actor 1,Actor 2,Actor 3,Actor 4,Genre 1,Genre 2,Genre 3
0,Govinda,Aishwarya Rai Bachchan,Jackie Shroff,Namrata Shirodkar,Romance,None,None
1,Aamir Khan,Gracy Singh,Rachel Shelley,Paul Blackthorne,Adventure,Drama,Musical
2,Akshay Kumar,Sridevi,Gulshan Grover,Laxmikant Berde,Action,Comedy,None
3,Shah Rukh Khan,Madhuri Dixit,Salman Khan,Atul Agnihotri,Drama,Romance,None
4,Shah Rukh Khan,Juhi Chawla,Jackie Shroff,Nirmal Pandey,Action,Comedy,Drama
5,Shah Rukh Khan,Madhuri Dixit,Aishwarya Rai Bachchan,Jackie Shroff,Musical,Romance,None
6,Hrithik Roshan,Ameesha Patel,Kiran Kumar,Mukesh Tiwari,Action,Drama,Romance
7,Amitabh Bachchan,Jaya Bhaduri,Shah Rukh Khan,Kajol,Drama,Musical,Romance
8,Saif Ali Khan,Hrithik Roshan,Esha Deol,Alok Nath,Comedy,Drama,Musical
9,Jackie Shroff,Hrithik Roshan,Kareena Kapoor,Amrish Puri,Musical,Drama,Romance
10,Karisma Kapoor,Rekha,Manoj Bajpayee,Rajit Kapoor,Adventure,Biography,Drama
11,Preity Zinta,Salman Khan,Rani Mukerji,Amrish Puri,Drama,Musical,Romance
12,Hrithik Roshan,Kareena Kapoor,Abhishek Bachchan,Johnny Lever,Musical,Drama,Romance
13,Sunil Shetty,Raveena Tandon,Danny Denzongpa,Sadashiv Amrapurkar,Action,Crime,Drama
14,Tabu,Atul Kulkarni,Rajpal Yadav,Shri Vallabh Vyas,Crime,Drama,None
15,Kajol,Rishi Kapoor,Rati Agnihotri,Sunil Shetty,Drama,Family,None
16,Dev Anand,Hema Malini,Shammi Kapoor,Rekha,Musical,Romance,None
17,Sunny Deol,Preity Zinta,Jackie Shroff,Om Puri,Action,None,None
18,Rekha,Naseeruddin Shah,Arshad Warsi,Suman Ranganathan,Comedy,Musical,Family
19,Rani Mukerji,Hrithik Roshan,Kareena Kapoor,Uday Chopra,Musical,Romance,Drama

In [8]:
genre_input = 'comedy'
a1 = actor_genre_divide[actor_genre_divide['Genre 1'] == genre_input.capitalize()]
a2 = actor_genre_divide[actor_genre_divide['Genre 2'] == genre_input.capitalize()]
a3 = actor_genre_divide[actor_genre_divide['Genre 3'] == genre_input.capitalize()]
taking_all = a1.append(a2, ignore_index=True).append(a3, ignore_index=True)

In [9]:
test = np.array(taking_all[['Actor 1', 'Actor 2', 'Actor 3', 'Actor 4']])
test[0]

array(['Saif Ali Khan', 'Hrithik Roshan', 'Esha Deol', 'Alok Nath'],
      dtype=object)

In [100]:
te = TransactionEncoder()
te = te.fit(test)
te_ary = te.transform(test)

TypeError: '<' not supported between instances of 'NoneType' and 'str'

In [10]:
df=pd.melt(actor_genre_divide,id_vars=["Genre 1","Genre 2","Genre 3"],var_name="Actor",value_name="Value")

In [11]:
df.columns=['Genre 1', 'Genre 2', 'Genre 3', 'Actor', 'Actor_name']
df=df.drop(["Actor"],axis=1)
df.columns
df.columns=['Genre 1', 'Genre 2', 'Genre 3', 'Actor']
df2=pd.melt(df,id_vars=["Actor"],var_name="Genre",value_name="Genre_Name")
df2=df2.drop(["Genre"],axis=1)
df2.columns=["Actor","Genre"]
Data_actor_genre=df2
Data_actor_genre

                      Actor      Genre
0                   Govinda    Romance
1                Aamir Khan  Adventure
2              Akshay Kumar     Action
3            Shah Rukh Khan      Drama
4            Shah Rukh Khan     Action
5            Shah Rukh Khan    Musical
6            Hrithik Roshan     Action
7          Amitabh Bachchan      Drama
8             Saif Ali Khan     Comedy
9             Jackie Shroff    Musical
10           Karisma Kapoor  Adventure
11             Preity Zinta      Drama
12           Hrithik Roshan    Musical
13             Sunil Shetty     Action
14                     Tabu      Crime
15                    Kajol      Drama
16                Dev Anand    Musical
17               Sunny Deol     Action
18                    Rekha     Comedy
19             Rani Mukerji    Musical
20           Raveena Tandon      Drama
21               Bobby Deol     Action
22      Sadashiv Amrapurkar      Drama
23             Rani Mukerji    Romance
24            Jackie Shroff      Drama
25                     Neha      Drama
26             Akshay Kumar      Crime
27              Sanjay Dutt     Comedy
28              Tinnu Anand      Crime
29              Jimi Mistry     Comedy
...                     ...        ...
15378                  None       None
15379        Siddharth Kher   Thriller
15380          Deepraj Rana       None
15381  Priyanshu Chatterjee       None
15382          Sunil Shetty       None
15383            Zoya Afroz       None
15384        Sharad Ponkshe       None
15385         Ashutosh Rana    Romance
15386         Sammy Durrani       None
15387        Vijender Singh       None
15388           Patralekhaa       None
15389     Rohini Hattangadi       None
15390       Rannvijay Singh       None
15391         Deepak Bhatia       None
15392        Arunoday Singh       None
15393       Akilesh Unnitan       None
15394          Kavi Shastri       None
15395     Manu Rishi Chadha       None
15396         Cyrus Broacha       None
15397           Akhil Kapur       None
15398            Parth Naik       None
15399   Shubhashree Ganguli       None
15400         Vineeta Malik       None
15401                  None       None
15402            Aryan Vaid       None
15403                Bramha       None
15404                  None       None
15405         Sanjay Mishra       None
15406        Dimple Kapadia       None
15407       Karanvir Sharma       None

[15408 rows x 2 columns]

In [12]:
actor_genre_divide_final = df2
actor_genre_divide_final =  actor_genre_divide_final.dropna()

In [13]:
actor_genre_divide_final.to_csv('files/ActorsWithGenre.csv', )

In [22]:
t = actor_genre_divide_final.groupby(['Genre'])
t.get_group('Romance')
u = list(pd.unique(actor_genre_divide_final['Genre']))
xyz = []
for each in u:
    xyz.append(Counter(list(t.get_group(each)['Actor'])).most_common(10))

In [23]:
d1 = {'Genre' : u, 'Top 10 Actors':xyz}
df100 = pd.DataFrame(data = d1)
df100 = df100.drop([21])

          Genre                                      Top 10 Actors
0       Romance  [(Salman Khan, 21), (Shahid Kapoor, 16), (Aksh...
1     Adventure  [(Sanjay Dutt, 6), (Abhishek Bachchan, 6), (Vi...
2        Action  [(Sunil Shetty, 26), (Ajay Devgn, 26), (Sanjay...
3         Drama  [(Amitabh Bachchan, 34), (Ajay Devgn, 31), (Ak...
4       Musical  [(Salman Khan, 7), (Abhishek Bachchan, 7), (Bi...
5        Comedy  [(Akshay Kumar, 31), (Paresh Rawal, 22), (Arsh...
6         Crime  [(Akshay Kumar, 16), (Ajay Devgn, 12), (Bipash...
7      Thriller  [(Emraan Hashmi, 13), (Sunil Shetty, 10), (San...
8   Documentary  [(Neeru Bajwa, 1), (Sonali Gulati, 1), (Ruby B...
9     Biography  [(Aishwarya Rai Bachchan, 2), (Shailendra Gaur...
10      Mystery  [(Gulshan Grover, 5), (Akshay Kumar, 4), (Amit...
11          War  [(Sanjay Dutt, 3), (Ajay Devgn, 3), (Amitabh B...
12       Family  [(Amitabh Bachchan, 3), (Saif Ali Khan, 3), (A...
13       Horror  [(Bipasha Basu, 4), (Vicky Ahuja, 3), (Emraan ...
14      Fantasy  [(Boman Irani, 4), (Amitabh Bachchan, 3), (Aks...
15        Music  [(Akshay Kumar, 1), (Ranbir Kapoor, 1), (Prabh...
16    Animation  [(nan, 2), (Ajay Devgn, 2), (Manoj Bajpayee, 2...
17        Sport  [(Boman Irani, 2), (Dalip Tahil, 2), (Nafisa A...
18      History  [(Pavan Malhotra, 2), (John Abraham, 2), (Habi...
19       Sci-Fi  [(Omkar Das Manikpuri, 2), (Bipasha Basu, 2), ...
20        Short            [(Parimal Aloke, 1), (Paru Gambhir, 1)]
22      Western  [(Prabhudheva, 1), (Ganesh Acharya, 1), (Kay K...

In [16]:
a = actor_genre_divide_final.groupby(['Actor'])
b = list(pd.unique(actor_genre_divide_final['Actor']))

In [17]:
from collections import Counter

In [19]:
aba = []
for each in b:
    aba.append(Counter(list(a.get_group(each)['Genre'])).most_common(3))

In [20]:
data = {'Actor':b,'Top Genres':aba}
fin = pd.DataFrame(data=data)
fin.head()

            Actor                                 Top Genres
0         Govinda   [(Comedy, 13), (Romance, 6), (Drama, 5)]
1      Aamir Khan    [(Drama, 11), (Comedy, 3), (Action, 2)]
2    Akshay Kumar  [(Comedy, 31), (Drama, 24), (Action, 19)]
3  Shah Rukh Khan  [(Drama, 16), (Romance, 11), (Comedy, 9)]
4  Hrithik Roshan   [(Drama, 11), (Action, 9), (Romance, 8)]

In [176]:
fin.to_csv('files/TopGenres.csv')

In [16]:
from mlxtend.preprocessing import TransactionEncoder  #TransactionEncoder is used for conversion into numerical values
from mlxtend.frequent_patterns import apriori

In [18]:
te = TransactionEncoder()
te = te.fit(x)
te_ary = te.transform(x)

In [24]:
df = pd.DataFrame(te_ary,columns=te.columns_)

In [61]:
frequent_itemsets = apriori(df, min_support =0.0005,use_colnames=True)

In [24]:
input_genre = 'Romance'
abascus = list(df100[df100['Genre'] == input_genre]['Top 10 Actors'])
top_actor = (abascus[0][0][0])
#rules[rules['antecedants'].apply(lambda x:set([top_actor]).issubset(x))]

In [25]:
top_actor

'Amitabh Bachchan'

In [115]:
another = big_genre_divide.drop(columns = ['imdbId', 'title', 'releaseYear', 'releaseDate','writers','directors','sequel','hitFlop'])
another = another.drop(columns = ['genre'])

In [117]:
another.head()

,actors,Genre 1,Genre 2,Genre 3
0,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Romance,None,None
1,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Adventure,Drama,Musical
2,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Action,Comedy,None
3,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,Drama,Romance,None
4,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Action,Comedy,Drama

In [177]:
another.to_csv('files/castgenre.csv')

In [134]:
genre_input = 'romance'
a1 = another[another['Genre 1'] == genre_input.capitalize()]
a2 = another[another['Genre 2'] == genre_input.capitalize()]
a3 = another[another['Genre 3'] == genre_input.capitalize()]
c = a1.append(a2, ignore_index=True).append(a3, ignore_index=True)

In [135]:
genre_actors = c['actors']
actor = movie_data['actors']
actor.dropna()
actor = actor.reset_index(drop=True)
x = []
for i in range(len(actor)):
    a = str(actor[i]).split('|')
    a = [z.strip() for z in a]
    x.append(a)

In [136]:
te = TransactionEncoder()
te = te.fit(x)
te_ary = te.transform(x)

In [32]:
romance = pd.read_csv('files/romance.csv')
eval(romance['itemsets'][0])

frozenset({'Aamir Ali Malik'})